body {
  font-family: 'Montserrat';
}

.container {
  max-width: 1920px;
  width: 100%;
  padding: 0 370px;
  box-sizing: border-box;
  margin: 0 auto;
}

@media (max-width: 1600px) {
  .container {
    padding: 0 114px;
  }
}

@media (max-width: 1024px) {
  .container {
    padding: 0 80px;
  }
}

@media (max-width: 820px) {
  .container {
    padding: 0 40px;
  }
}

@media (max-width: 580px) {
  .container {
    padding: 0 20px;
  }
}

.title-wrap {
  text-align: center;
  margin-bottom: 80px;
}

.big-title {
  font-size: 48px;
  font-weight: 500;
  color: #2e363e;
}

.cards-wrap {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  justify-items: center;
}

@media (max-width: 1024px) {
  .cards-wrap {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 580px) {
  .cards-wrap {
    grid-template-columns: 1fr;
  }
}

.card {
  display: flex;
  flex-direction: column;
  border: 1px solid #eaeaea;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
  width: 100%;
  max-width: 350px;
}

.image-wrap img {
  width: 100%;
  height: auto;
  display: block;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 50px 44px;
}

.text-wrap {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
}

.name {
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 6px;
  color: #2e363e;
}

.description {
  font-size: 16px;
  line-height: 1.5;
  color: #2e363e;
}

.price-wrap {
  display: flex;
  flex-direction: column;
  gap: 14px;
  width: 100%;
}

.price {
  font-size: 24px;
  font-weight: 500;
  color: #434b53;
  line-height: 1.5;
}


.order-button {
  display: inline-block;
  padding: 18px 40px;
  background-color: #FED84C;
  color: #2e363e;
  border-radius: 8px;
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  transition: background-color 0.3s;
}

.order-button:hover {
  background-color: #f2c600;
}

.gallery__header {
  display: flex;
  flex-direction: column;
  gap: 14px;
  align-items: center;
  margin-bottom: 80px;
}

.gallery__title {
  font-size: 48px;
  font-weight: 500;
  line-height: 125%;
  letter-spacing: -0.02em;
  text-align: center;
}

.gallery__description {
  font-size: 24px;
  font-weight: 400;
  line-height: 143%;
  text-align: center;
}

.gallery__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 9px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.gallery__item {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.gallery__item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
  transition: transform 0.3s;
}

.gallery__item img:hover {
  transform: scale(1.05);
}






.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.hidden {
  display: none;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.hidden {
  display: none;
}

.modal-form {
  background: #ffffff;
  padding: 6vh 5vw;
  border-radius: 8px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 60%;
  min-width: 300px;
  max-width: 600px;
  box-sizing: border-box;
}

.modal-title {
  font-size: 1.313rem;
  font-weight: 500;
  text-align: center;
  margin-bottom: 16px;
}

.modal-title p {
  margin: 8px 0;
}

.modal-close {
  position: absolute;
  top: 26px;
  right: 30px;
  background: transparent;
  border: none;
  font-size: 20px;
  color: #000;
  cursor: pointer;
  width: 32px;
  height: 32px;
}

.order-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.order-form .form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

@media (max-width: 500px) {
  .order-form .form-grid {
    grid-template-columns: 1fr;
  }
}

.input-field {
  padding: 18px 24px;
  font-size: 14px;
  border: 1px solid #000;
  border-radius: 5px;
}

.order-form p {
  font-size: 14px;
  color: #2e363e;
  margin-top: 0;
  margin-bottom: 8px;
  text-align: center;
}

.checkbox-wrap {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 12px;
  color: #7e868e;
}

.checkbox-wrap input {
  width: 14px;
  height: 14px;
}

.checkbox-wrap span {
  line-height: 1.3;
}

.submit-order {
  width: fit-content;
  align-self: center;
  padding: 20px 64px;
  background-color: #fcd24d;
  color: #2e363e;
  border: none;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.submit-order:hover {
  background-color: #48535a;
  color: #ffffff;
  transform: scale(1.03);
}

.submit-order:disabled {
  background-color: #ccc;
  color: #666;
  cursor: not-allowed;
}

@media (max-width: 1024px) {
  .modal-form {
    padding: clamp(1rem, 5vw, 2.5rem);
    gap: 24px;
  }

  .modal-title {
    font-size: 1rem;
  }

  .input-field {
    font-size: 13px;
  }

  .submit-order {
    font-size: 14px;
  }

  .modal-close {
    top: 16px;
    right: 16px;
    font-size: 16px;
    width: 26px;
    height: 26px;
  }

  .order-form .form-grid {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
}



@media (max-width: 1024px) {
  .gallery__header {
    margin-bottom: 48px;
  }

  .gallery__title {
    font-size: 31px;
    margin-bottom: 10px;
  }

  .gallery__description {
    font-size: 19px;
  }

  .gallery__grid {
    grid-template-columns: repeat(3, 1fr); 
    gap: 13px;
  }
}

@media (max-width: 460px) {
  .gallery__header {
    margin-bottom: 40px;
  }

  .gallery__title {
    font-size: 24px;
    margin-bottom: 0;
  }

  .gallery__description {
    font-size: 16px;
  }

  .gallery__grid {
    grid-template-columns: repeat(2, 1fr); 
    gap: 8px;
  }
}

